body {
	font-family: helvetica;
	font-size: 18px;
}

.space_50_grabber {
	height: 50px;
}

.task_wrapper {
	margin-bottom: 10px; 
}

.special {
	margin-left: 23px;
}

.double_special {
	margin-left: 33px;
}

.container {
  width: 1000px; 
  margin: 0px auto 0px;
}

#hand {
	text-decoration: underline;
	font: 400 18px/1.5 'Pacifico', Helvetica, sans-serif;
	color: #2b2b2b;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

.sixth, .third, .fifth {
	background-color: #6990C7;
}

.second, .fourth, .first {
	background-color: #CA4E79;
}

.task {
	padding: 10px;
	text-align: center;
	width: 1010px;
	margin: 30px;
	margin-bottom: 10px;
	margin-left: 0; 
	margin-top: 20px;
}

div > p {
	margin: 3px;
	padding: 5px;
	width: 985px;
}

a {
	cursor: pointer;
}

h4 {
	width: 1000px;
	margin: 10px;
}

.odd {
	background-color: #efefef;
}

a {
	text-decoration: none;
	color: black;
}

.odd:hover, .even:hover{
	background-color: #c3e6e5;
}

div.odd, div.even {
	margin-bottom: 10px;
}

.tooltip, .long_tooltip {
	position: absolute;
	z-index: 999;
	left: -9999px;
	background-color: #dedede;
	/*padding: 5px;
	/*border:1px solid #fff;*/
}

.tooltip p{
	text-align: center;
	width:150px;
	margin:0;
	padding:0;
	color:#fff;
	background-color:#6990C7;
	padding:2px 7px;
}

.long_tooltip p{
	text-align: center;
	width:500px;
	margin:0;
	padding:0;
	color:#fff;
	background-color:#6990C7;
	padding:2px 7px;
}

